#if __has_include(".extend.Xresources")
#include ".extend.Xresources"
#endif

! ^ The above lines are no comments!
! Leave them as they are if a file ~/.extend.Xresources is being used on your system.
! config can be added there or also here below.
! For comments use "!"

! load with  ; xrdb -load ./dotfiles/.Xresources
Sxiv.background: #ebdbb2

Xft.dpi: 96
Xft.antialias: true
Xft.hinting: true
Xft.rgba: rgb
Xft.autohint: false
Xft.hintstyle: hintslight
Xft.lcdfilter: lcddefault

*.font:	Liberation Mono:pixelsize=12:antialias=true:autohint=true;
*.alpha: 0.1
!0.3!


!! brogrammer:
*.foreground:  #d6dbe5
*.background:  #131313
*.color0:      #1f1f1f
*.color8:      #d6dbe5
*.color1:      #f81118
*.color9:      #de352e
*.color2:      #2dc55e
*.color10:     #1dd361
*.color3:      #ecba0f
*.color11:     #f3bd09
*.color4:      #2a84d2
*.color12:     #1081d6
*.color5:      #4e5ab7
*.color13:     #5350b9
*.color6:      #1081d6
*.color14:     #0f7ddb
*.color7:      #d6dbe5
*.color15:     #ffffff
*.colorBD:     #d6dbe5
!======================
!======================

/*!batman theme from iterm2-color-schemes (pyrophos).
!.cursorColor and .color14 changed.
! special /*
*.foreground:   #6f6f6f
*.background:   #1b1d1e
*.cursorColor:  #feed6c

! black
*.color0:       #1b1d1e
*.color8:       #505354

! red
*.color1:       #e6dc44
*.color9:       #fff78e

! green
*.color2:       #c8be46
*.color10:      #fff27d

! yellow
*.color3:       #f4fd22
*.color11:      #feed6c

! blue
*.color4:       #737174
*.color12:      #919495

! magenta
*.color5:       #747271
*.color13:      #9a9a9d

! cyan
*.color6:       #62605f
*.color14:      #cdab53

! white
*.color7:       #c6c5bf
*.color15:      #dadbd6*/


